.Logo{
    color:#212121;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
}

.Logo img {
    padding-right: 2%;
}
.navbar {
    background-color: white; /* rgba(0,0,0,0); */
    box-shadow: none;
    border-bottom: 0.25px solid #d8d8d8;
   
}



